<% content_for :title, "Organisations" %>

<% content_for :top_right do %>
  <div class="index-button-group">
    <%= link_to "Create new organisation", new_organisation_path, class: "btn btn-primary mb-3" %>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-12 col-md-4">
    <%= render "organisations/index/filters" %>
  </div>
  <div class="col-xs-12 col-md-8">
    <p>
      <%= t("organisations.index.search_results.summary_html", count: @organisations.count) %>
    </p>    
    <div style="overflow-x:auto">
      <%= render "organisations/index/results" %>           
    </div>
  </div>  
</div>